body,h1,h2,p{
    margin:0;
    padding:0;
}
body{
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
}
header{
    background-color: #333;
    color:#fff;
    text-align:center;
    padding:1rem;
}
h1:hover{
    color:yellow;
}
main{
    flex: 1 0 auto;
    padding:2rem;
    text-align: center;
}
.profile{
    display: flex;
    align-items:center;
    padding: 2rem;
}
.photo{
    flex:1;
    padding:0 2rem;
}
.photo img{
    max-width: 100%;
    height:auto;
    border-radius:50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.bio{
    flex:2;
    padding: 0 2rem;
}
footer{
    flex-shrink: 0;
    text-align: center;
    padding:1rem 0;
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: auto;
}
@media screen and (max-width:768px){
    .profile{
        flex-direction: column;
    }
}
